.bordered-titled-title {
  -fx-background-color: silver;
  -fx-border-color: silver;
  -fx-translate-y: -10;
  -fx-translate-x: 10;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 10 10 10 10;
  -fx-background-color: silver;
  -fx-border-color: white;
  -fx-border-width: 1;
}

.bordered-titled-content {
  -fx-padding: 26 10 10 10;
}

